footer{
    width: 100%;
    background: #0c0c1c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*/bottom: 0;
    position: fixed;*/
}
.iconofooter{
    background: none;
    margin: 1.5vw;
}
.footer_redes:hover{
    transform: scale(2);
}
#footer_copy{
    background: none;
    font-size: 2vw;
    font-family: monospace;
    color: grey;
}
#footer_redes{
    background: none;
    font-family: monospace;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vw;
}
.icono_footer{
    text-decoration: none;
    background: none;
    color: white;
}